section.big-name
  h1.big-name__title Lorem 
  p.big-name__sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  a.big-name__button(href="#") View in Twitch

section.about
  h2.about__title About me
  span.about__name - Lorem ipsum. -
  
  .card.card--special
    .card__header
      picture
        source(media="(max-width: 768px)", srcset="images/about/about-face.jpg", width="100%")
        source(media="(max-width: 1200px)", srcset="images/about/about-mobile.jpg")
        img.card__image(src="example")

    .card__body
      .card__icon
        include ../images/svg/console.svg
      h3.card__title Lorem ipsum dolor.
      p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore.
      p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore.
      .card__line

  .l-flex.l-flex--card
    .card
      .card__header
        h3.card__title--bg Streams
          .card__icon
            include ../images/svg/mouse.svg
      .card__body
        p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore.
        p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore.
        .card__line
    .card
      .card__header
        h3.card__title--bg Cosplay
        .card__icon
          include ../images/svg/cosplayer.svg
      .card__body
        p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore.
        p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore.
        .card__line
    .card
      .card__header
        h3.card__title--bg Others
        .card__icon
          include ../images/svg/cosplayer.svg
      .card__body
        p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore.
        p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore.
        .card__line
      
section.form
  object.form__logo
    include ../images/svg/Logo.svg
  form.form__inner
    h2.form__title Let's get in touch 
    input.form__input(type="text" placeholder="Name")
    input.form__input(type="email" placeholder="E-mail")
    textarea.form__textarea(placeholder="Message")
    a.form__button(href="#") Send
    
