- var title = "Ahryess"
- var css = "css/"
- var js = "js/"

<!DOCTYPE html>
html(lang="en")
  include layout/head.jade
  
  body
    include layout/header.jade
    include content.jade
    include layout/footer.jade
