#header
  position: fixed
  width: 100vw
  left: 0
  top: 0
  z-index: 1000

#nav
  padding: em(24) em(10)
  display: flex
  align-items: center
  transition: 200ms
  max-width: 1000px
  margin: 0 auto

#l-footer
  background: $darker-blue


.l-flex
  display: flex
  margin: 0 auto
  flex-direction: column

  &--card
    margin-bottom: -120px

  @include screen($tablet)
    flex-direction: row
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    max-width: 900px


    &--column
      flex-direction: column
      max-width: 900px
      align-items: stretch
