#header
  position: fixed
  width: 100vw
  left: 0
  top: 0
  z-index: 1000

#nav
  padding: em(24) em(10)
  display: flex
  align-items: center
  transition: 200ms

.l-flex
  display: flex
  margin: 0 auto
  flex-direction: column

  @include screen($tablet)
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    max-width: 900px

    &--card
      margin-bottom: -120px

    &--column
      flex-direction: column
      max-width: 900px
      align-items: stretch
