// ==========================================================================
// Media Querys
// ==========================================================================

@mixin screen($media)
    @media #{$media}
      @content


%button
  padding: em(14) em(24)
  margin: em(10) 0
  color: $white
  border-radius: 999px
  background: $gradient-0

  &:hover
    // color: $dark-blue !important

// ==========================================================================
// Animations
// ==========================================================================

@mixin delay($nth:1,$items:2,$initial:0,$step:100)
	@for $i from $nth through $items
		&:nth-child(#{$i})

      // position: relative
      z-index: calc( 100 - #{$i} )
      transition-delay: #{$initial}ms
		$initial: $initial + $step


@mixin animation($name, $length, $duration, $delay: 0)
  @if $name == fade-in-top
    transform: translateY(-#{$length})

  @else if $name == fade-in-right
    transform: translateX(#{$length})

  @else if $name == fade-in-bottom
    transform: translateY(#{$length})

  @else if $name == fade-in-left
    transform: translateX(-#{$length})

  @else
    transform: none

  transition-duration: $duration
  transition-delay: $delay
  opacity: 0
