// ==========================================================================
// Colors
// ==========================================================================
$black: #000
$white: #fff
$white-1: #dad8de

$purple: #8D33DF

$pink: #EF2883

$blue: #161362
$light-blue: lighten($blue, 2%)
$dark-blue: darken($blue, 8%)
$darker-blue: darken($blue, 15%)


$gradient-0: linear-gradient(to bottom right, $pink, $purple)
// ==========================================================================
// Fonts

// ==========================================================================
// (Change IMPORTANT)
@import url('https://fonts.googleapis.com/css?family=Raleway:700,800')


// ==========================================================================
// Media Querys
// ==========================================================================

$mobile: "only screen and (min-width: 425px)"
$max-mobile: "only screen and (max-width: 767px)"
$tablet: "only screen and (min-width: 768px)"
$laptop: "only screen and (min-width: 1024px)"


// ==========================================================================
// Nav
// ==========================================================================

$items: 3


// ==========================================================================
// Card
// ==========================================================================

$smallCards: 3
