// ==========================================================================
// Colors
// ==========================================================================
$white: #fff
$white-1: #dad8de


$purple: #8D33DF

$pink: #EF2883

$blue: #161362

$gradient-0: linear-gradient(to bottom right, $pink, $purple)
// ==========================================================================
// Fonts

// ==========================================================================
// (Change IMPORTANT)
@import url('https://fonts.googleapis.com/css?family=Raleway:700,800')


// ==========================================================================
// Media Querys
// ==========================================================================

$mobile: 425px
$tablet: 768px
$laptop: 1024px


// ==========================================================================
// Nav
// ==========================================================================

$items: 3


// ==========================================================================
// Card corners
// ==========================================================================

$card-corner-size: 20px
