// ==========================================================================
// Colors
// ==========================================================================
$white: #fff
$purple-0: #6604BF
$purple-1: #8D33DF
$purple-2: #7D0CE3
$purple-3: #4F0394
$purple-4: #3D0272

$pink-0: #E00066
$pink-1: #EF2883
$pink-2: #F2006E
$pink-3: #B90054
$pink-4: #8F0041

$blue-0: #0725C1
$blue-1: #3D57E0
$blue-2: #1636E4
$blue-3: #051C96
$blue-4: #041674

// ==========================================================================
// Fonts
// ==========================================================================

@import url('https://fonts.googleapis.com/css?family=Raleway:700,800');



// ==========================================================================
// Media Querys
// ==========================================================================

$mobile: 425px
$tablet: 768px
$laptop: 1024px
