footer#l-footer
  .footer
    span.footer__rights Ahryess © 2019
    span.footer__developed Made with pride by 
      a.footer__portfolio(href="https://alvaromarques.com") Álvaro Marqués
script(src= js + "core-min.js")
