header#header
  nav#nav.nav
    include ../../images/svg/Logo.svg
    h1.nav__title Ahryess
    
    input#nav__show.is-hidden(type="checkbox")
    label.nav__burger(for="nav__show")
      .nav__burger-line
      .nav__burger-line
      .nav__burger-line
      
      ul.nav__menu.menu
        li.menu__item
          a.menu__link(href="#") Home
        li.menu__item
          a.menu__link(href="#") Who I am
        li.menu__item
          a.menu__link(href="#") Item 3
