header#header
  nav#nav.nav
    include ../../images/svg/Logo.svg
    h1.nav__title Ahryess

    input#nav__show.is-hidden(type="checkbox")
    label.nav__burger(for="nav__show")
      .nav__burger-line
      .nav__burger-line
      .nav__burger-line

      ul.nav__menu.menu
        li.menu__item
          a.menu__link(data-link="about" data-space="50") About
        li.menu__item
          a.menu__link(data-link="instagram" data-space="80") Instagram
        li.menu__item
          a.menu__link(data-link="streaming" data-space="150") Streaming
