.big-name
  background: linear-gradient(to bottom right, rgba($blue-3, 1),rgba($blue-3, .6)), url(img(hero,mobile))10%
  background-size: cover
  height: 500px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding: em(16)

  &__title
    margin: em(3) 0
    font-size: 12vw

  &__sub-title
    font-size: 5vw
    margin: em(3) 0
    line-height: em(24)
    font-weight: 500

  &__button
    @extend %button
    font-size: 4vw
