.nav
  &__burger
    background: $pink-2
    padding: em(10) em(16)
    margin: 0 em(-16) 0 auto
    border-radius: 30px 0 0 30px

    &-line
      width: 25px
      height: 4px
      border-radius: 4px
      background: $white
      margin: 4px 0
