.menu
  font-size: rem(20)
  transition: 200ms
  z-index: 1000

  @include screen($tablet)
    display: -webkit-flex
    display: -ms-flex
    display: flex
    margin-right: em(-8)

  &__item
    margin: em(26) em(26) em(26) em(-8)
    transform: translateX(50px)
    display: none
    opacity: 0

    @for $i from 1 to 4
      &:nth-child(#{$i})
        animation-delay: $i * 80 + 100ms !important

    @include screen($tablet)
      display: block
      transform: none
      opacity: 1
      margin: em(16)
  &__link
    margin: em(16) 0
    padding: em(8)
    color: $white
    border-radius: 12px
    white-space: nowrap
    transition: 200ms

    @include screen($tablet)
      position: relative

      &::after
        content: ''
        left: 0
        top: 0
        width: 100%
        height: 100%
        border-radius: inherit
        z-index: -1
        transition: 300ms
        background: $gradient-0
        opacity: 0
