.card__text--full
  max-height: 500px

.is-showing
  opacity: 1
  transform: none
@include screen(tablet)

  .about
    font-size: rem(22)

    &__title
      font-size: rem(45)

  .card
    margin: 0 em(4)
    max-width: 900px

    &--small
      flex: 1 1 calc(33% - 9px)
      max-width: 250px
      position: relative
      overflow: visible

      &::before, &::after
        // content: ''
        width: $card-corner-size
        height: $card-corner-size
        // outline: 1px solid tomato
        background: svg-to-data-uri('<svg version="1.1" id="Layer_1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 18.2 18.2" style="enable-background:new 0 0 18.2 18.2;" xml:space="preserve"><style type="text/css">	.st0{fill:#FFFFFF;}</style><g>	<path class="st0" d="M0,0c10.1,0,18.2,8.2,18.2,18.2V0H0"/></g></svg>') top center no-repeat
        bottom: 17px
        z-index: -1

      &::before
        left: calc(#{-$card-corner-size} + 1px)

      &::after
        right: calc(#{-$card-corner-size} + 1px)
        transform: rotateY(180deg)

    &--special
      display: flex
      margin: 0 auto em(36)

      .card__line
        display: none

    &--instagram
      position: relative
      height: 450px
      width: 100%
      display: flex
      flex-direction: column
      margin: em(32) em(8)

    &__header

      &--special
        flex: 0 1 40%

      &--instagram
        padding: 0 0 0 64%

    &__body
      padding: em(16)

      &--special
        padding: em(30)
        flex: 1 1 60%
        display: flex
        flex-direction: column

      &--instagram
        padding: 0 0 0 64%
        display: flex
        flex-direction: column
        height: 100%
        padding: em(16) em(16) em(16) calc(64% + 16px)

    &__image

      &--instagram

        position: absolute
        top: 0
        left: 0
        width: 64%
        height: auto
        border-right: 1px solid #eee

      &--special
        height: auto
        width: 100%
        vertical-align: middle

    &__text--instagram
      flex-grow: 1
      max-height: none

    &__date
      margin-bottom: 5px

    &__more
      display: none

    &__button
      margin: 0
