.card__text--full
  max-height: 500px

@include screen(tablet)
  .about
    font-size: rem(22)

    &__title
      font-size: rem(45)

  .card
    margin: 0 em(4)
    // flex-basis: calc(33% - 8px)

    &--special
      max-width: 700px
      display: flex
      margin: 0 auto em(36)

      .card__line
        display: none
        margin-top: em(16)

      // align-items: stretch

    &--instagram
      position: relative
      max-width: none
      height: 450px
      max-width: 800px
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      margin: em(32) em(8)
      // min-height: 600px
      // padding-left: 400px
      // position: absolute


    &__body--instagram, &__header--instagram
      position: static
      padding: 0 0 0 64%

      // justify-content: space-

    &__body--instagram
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      height: 100%
      padding: em(16) em(16) em(16) calc(64% + 16px)

    &__header--special, &__body--special
      flex-basis: 50%
      overflow: hidden

    &__image
      position: absolute
      display: block
      overflow: hidden
      top: 0
      left: 0
      width: 64%
      height: auto
      border-right: 1px solid #ccc

      // padding-bottom: 100%

      &--special
        width: auto
        height: 100%
        position: absolute

    &__text--instagram
      flex-grow: 1
      max-height: none
    &__date
      display: block
    &__more
      display: none
    &__button
      margin: 0
